/* CSS Reset  */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* เราทำการ reset เพื่อให้จุดเริ่มต้นของการแต่ง css จริงๆ คือ 0, 0 หรือที่ บนซ้ายสุดของจอ */

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block; /* เพื่อให้มีการขึ้นบรรทัดใหม่ เพราะแบบเดิมเป็นแบบ inline */
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
input,
button,
textarea,
select {
	font: inherit;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
