/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
}

.container {
	width: 100%; /* แสดงผลกว้าง 100% คือเต็มจอไปเลยเมื่อเทียบกับ body */
	min-height: 100dvh; /* dvh: dynamic viewport high, min-height คือเต็มหน้าจอในจอแรก (ความสูงขั้นต่ำ) ถ้าเกินมันจะเพิ่มเป็น scroll bar ให้เอง */
	display: grid; /* สั่ง layout เป็นแบบ grid */
	grid-template-rows: auto 1fr auto; /* 3 row navbar, main, footer */ /* repeat(3, auto) นั่นคือทำซ้ำ 3 row แต่ละอัน auto */
	/* มี 3 rows คือ auto 1fr auto ซึ่งเป็นการกำหนดความสูงของแต่ละ row
		fr = fraction คือหน่วยที่เอาไว้ใช้กับ grid เท่านั้น คืออัตราส่วน 1fr คือเหลือเท่าไรเอาเท่านั้น เป็นส่วนแบ่งจากพื้นที่ที่เหลือ
		นั่นคือจะใช้พื้นที่ที่เหลือจากการ fix พื้นที่อื่นๆ แล้วเอามาแบ่งตามสัดส่วนที่กำหนด */

	grid-template-columns: 30ch 1fr; /* หน่วย character กว้าง 30 ตัวอักษร แล้วที่เหลือคือ 1fr เหลือเท่าไรก็เอามาแปะเลย */
	grid-template-areas:
		"header header"
		"aside main"
		"footer footer";
}

section {
	padding: 1rem 3rem; /* บนล่าง ซ้ายขวา */
}

.story {
	display: none;
}

header {
	height: var(--nav-height); /* fixed ไว้ */
	background-color: var(--color-primary);
	color: var(--color-white);

	grid-area: header; /* เป็นการบอกลูกว่าตัวเองชื่ออะไร แล้วจะให้ไปจัดเรียงใน  grid-template-areas */
}

main {
	color: var(--color-black);
	background-color: var(--color-accent);

	grid-area: main; /* เป็นการบอกลูกว่าตัวเองชื่ออะไร แล้วจะให้ไปจัดเรียงใน  grid-template-areas */
}

aside {
	color: var(--color-white);
	background-color: var(--color-black);
  /* display: none; */

	grid-area: aside; /* เป็นการบอกลูกว่าตัวเองชื่ออะไร แล้วจะให้ไปจัดเรียงใน  grid-template-areas */
}

footer {
	background-color: var(--color-secondary);
	color: var(--color-white);

	grid-area: footer; /* เป็นการบอกลูกว่าตัวเองชื่ออะไร แล้วจะให้ไปจัดเรียงใน  grid-template-areas */
}
